<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
</head>
<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <form action="/success" method="POST">
            <div class="callimg">
                <img src="https://images.squarespace-cdn.com/content/v1/5123a47de4b0b5151b7963bc/1477812680130-BSORME15CMI8DULQV7SE/BOOK+A+CALL.png" alt="">
            </div>
            <p>Book a call slot and our representative will call you within 1hr of selected time.</p>
            <hr>
            <div class="form-control">
                <label for="name">Name</label>
                <input type="text" id = "name" name = "name">
                <label for="email">Email</label>
                <input type="email" id = "email" name = "email">
            </div>
            <button type = "submit" class = "fbutton">Get a Call</button>
        </form>
    </main>
</body>
<%- include('includes/end.ejs') %>